@page "/informeestrategic"
@inject ITurnService TurnService
@inject IAppDataService AppDataService
@inject ISnackbar Snackbar

@if (@CurrentTurn != null)
{
    <MudGrid>
        <MudItem xd="12">
            <h1><MudIcon Size="Size.Large" Color="Color.Success" Icon="@Icons.Filled.AssignmentTurnedIn"/> Informe Estratègic</h1>
            <h5>Torn: @PreviousTurn.TurnNumber - @AppDataService.SelectedTeam.Name</h5>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Outlined="true" Class="pa-1">
                <MudChip Icon="@Icons.Filled.Build" Color="Color.Secondary" Label="true">Accions realitzades:</MudChip>
                <table class="table">
                    <tr>
                        <td><MudText><b>Producció:</b> @PreviousTurn.TurnActions.Where(x => x.TeamId == CurrentTeam.Id).First().ProductionPoints 
                            / @PreviousTurn.Teams.Where(x => x.Id == CurrentTeam.Id).First().AvailablePoints.ProductionPoints (disponibles)</MudText></td>
                        <td><MudText><b>Recerca:</b> @PreviousTurn.TurnActions.Where(x => x.TeamId == CurrentTeam.Id).First().ResearchPoints 
                            / @PreviousTurn.Teams.Where(x => x.Id == CurrentTeam.Id).First().AvailablePoints.ResearchPoints (disponibles)</MudText></td>
                        <td><MudText><b>Exploració:</b> @PreviousTurn.TurnActions.Where(x => x.TeamId == CurrentTeam.Id).First().ExplorationPoints
                            / @PreviousTurn.Teams.Where(x => x.Id == CurrentTeam.Id).First().AvailablePoints.ExplorationPoints (disponibles) </MudText></td>
                        <td><MudText><b>Punts industrial:</b> @PreviousTurn.TurnActions.Where(x => x.TeamId == CurrentTeam.Id).First().IndustryPoints</MudText></td>
                    </tr>
                    <tr>
                        <td>@PreviousTurn.TurnActions.Where(x => x.TeamId == CurrentTeam.Id).First().ProductionText</td>
                        <td>@PreviousTurn.TurnActions.Where(x => x.TeamId == CurrentTeam.Id).First().ResearchText</td>
                        <td>@PreviousTurn.TurnActions.Where(x => x.TeamId == CurrentTeam.Id).First().ExplorationText</td>
                        <td>@PreviousTurn.TurnActions.Where(x => x.TeamId == CurrentTeam.Id).First().IndustryText</td>
                    </tr>
                </table>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Outlined="true" Class="pa-1">
                <MudChip Icon="@Icons.Filled.AddShoppingCart" Color="Color.Primary" Label="true">Punts disponibles per al torn: @CurrentTurn.TurnNumber</MudChip>
                <MudGrid Justify="Justify.Center" Spacing="3">
                    <MudItem xs="3">
                        <MudCard Class="mud-theme-primary">
                                <MudCardHeader>
                                    <MudText Typo="Typo.h5">Producció</MudText>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudText Typo="Typo.h4" Align="Align.Center">@CurrentTeam.AvailablePoints.ProductionPoints</MudText>
                                </MudCardContent>
                            </MudCard>
                    </MudItem>
                    <MudItem xs="3">
                        <MudCard Style="@($"color:{Theme.Palette.Dark}; background:{Theme.Palette.Warning};")">
                                <MudCardHeader>
                                    <MudText Typo="Typo.h5">Recerca</MudText>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudText Typo="Typo.h4" Align="Align.Center">@CurrentTeam.AvailablePoints.ResearchPoints</MudText>
                                </MudCardContent>
                            </MudCard>
                    </MudItem>
                    <MudItem xs="3">
                        <MudCard Style="@($"color:{Theme.Palette.White}; background:{Theme.Palette.Black};")">
                                <MudCardHeader>
                                    <MudText Typo="Typo.h5">Exploració</MudText>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudText Typo="Typo.h4" Align="Align.Center">@CurrentTeam.AvailablePoints.ExplorationPoints</MudText>
                                </MudCardContent>
                            </MudCard>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
        <MudItem xs="6">
            <MudPaper Outlined="true" Class="pa-1">
                <MudChip Icon="@Icons.Filled.AirplanemodeActive" Color="Color.Info" Label="true">Assets disponibles per al torn @CurrentTurn.TurnNumber</MudChip>
                <MudTable Dense=true Items="ProducedAssets" Striped="true" Bordered="true">
                    <HeaderContent>
                        <MudTh>Nom</MudTh>
                        <MudTh>Abbr.</MudTh>
                        <MudTh>Disponibles</MudTh>
                        <MudTh>Assignats</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Nom">@context.Asset.Name</MudTd>
                        <MudTd DataLabel="Abbr.">@context.Asset.Abbrv</MudTd>
                        <MudTd DataLabel="Disponibles">@context.Available</MudTd>
                        <MudTd DataLabel="Assignats">@context.Reserved</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudPaper>
        </MudItem>
        <MudItem xs="6">
            <MudPaper Outlined="true" Class="pa-1">
                <MudChip Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Warning" Label="true">Assets disponibles per batalla</MudChip>
                @if (PreviousTurn != null)
                {
                    <MudTable Dense=true Items="BattleReadyAssets" Striped="true" Bordered="true">
                        <HeaderContent>
                            <MudTh>Nom</MudTh>
                            <MudTh>Abbr.</MudTh>
                            <MudTh>Disponibles</MudTh>
                            <MudTh>Assignats</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Nom">@context.Asset.Name</MudTd>
                            <MudTd DataLabel="Abbr.">@context.Asset.Abbrv</MudTd>
                            <MudTd DataLabel="Disponibles">@context.Available</MudTd>
                            <MudTd DataLabel="Assignats">@context.Reserved</MudTd>
                        </RowTemplate>
                    </MudTable>
                }
                else
                {
                   <MudCard>
                       <MudCardHeader>
                           <CardHeaderAvatar>
                            <MudIcon Icon="@Icons.Rounded.BackHand" Size="Size.Large" Color="Color.Error"></MudIcon>
                           </CardHeaderAvatar>
                           <CardHeaderContent>
                               No en tens 
                               ( ╥﹏╥) ノシ
                           </CardHeaderContent>
                       </MudCardHeader>
                   </MudCard>  
                }
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Outlined="true" Class="pa-1">
                <MudChip Icon="@Icons.Filled.LocationOn" Color="Color.Dark" Label="true">Ubicacions en posessió:</MudChip>
                <MudText Typo="Typo.caption"> <MudIcon Icon="@Icons.Material.Filled.Api" /> Ubicació en conflicte</MudText>
                <MudTable Items="CurrentTeam.OwnedLocations" Dense="true" Striped="true" RowClassFunc="@SetRowColor">
                    <HeaderContent>
                        <MudTh>Nom</MudTh>
                        <MudTh>Producció</MudTh>
                        <MudTh>Investigació</MudTh>
                        <MudTh>Exploració</MudTh>
                        <MudTh>Recursos Assignats</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Nom">
                             @if (context.Location.Conflict)
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.Api" />
                                }
                              @context.Location.Name</MudTd>
                        <MudTd DataLabel="Producció">@context.Location.ProductionPoints</MudTd>
                        <MudTd DataLabel="Investigació">@context.Location.ResearchPoints</MudTd>
                        <MudTd DataLabel="Exploració">@context.Location.ExplorationPoints</MudTd>
                        <MudTd DataLabel="Recursos Assignats">@context.AssignedResources</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudPaper>
        </MudItem>
    </MudGrid>
}
else
{
    <MudText>Carregant ...  </MudText>
}

@code {

    private MudTheme Theme = new MudTheme();
    private Turn CurrentTurn { get; set; }
    private Turn PreviousTurn { get; set; }
    private Team CurrentTeam { get; set; }

    private List<TeamAsset> ProducedAssets { get => GetCurrentTurnAssets(); }
    private List<TeamAsset> BattleReadyAssets { get => GetBattleReadyAssets(); }


    private void ShowSnackBar()
    {
        Snackbar.Add("Cal seleccionar un equip",Severity.Error,config =>
                      {
                          config.Icon = Icons.Material.Rounded.Warning;
                      });
    }

    protected override async Task OnInitializedAsync()
    {
        if (AppDataService.SelectedTeam != null)
        {
            CurrentTurn = await TurnService.GetCurrentTurn();
            PreviousTurn = await TurnService.GetPreviousTurn(CurrentTurn);
            CurrentTeam = CurrentTurn.Teams.Where(x => x.Id == AppDataService.SelectedTeam.Id).FirstOrDefault();
        }
        else
        {
            ShowSnackBar();
        }
    }

    private List<TeamAsset> GetCurrentTurnAssets()
    {
        return CurrentTurn.Teams.Where(x => x.Id == CurrentTeam.Id).FirstOrDefault()?.AvailableAssets;
    }

    private List<TeamAsset> GetBattleReadyAssets()
    {
        return PreviousTurn.Teams.Where(x => x.Id == CurrentTeam.Id).FirstOrDefault()?.AvailableAssets;
    }

    private string SetRowColor(OwnedLocation location, int index)
    {
        return (location.Location.Conflict)? "redRow": "";
    }
}
